/example/minimal/docker/cluster/keys/*.sk
/example/minimal/docker/cluster/keys/*.vk
/example/minimal/output/
/example/minimal/.psa-stash
/example/minimal/.spago/
/generated-docs/
/node_modules
/output/
/result
/.psa-stash
/.psci_modules/
/.spago/
/.spago2nix/
